@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-5">
    <h1 class="display-4 mb-4">Välkommen!</h1>
    <p class="lead">
        Detta är min e-handelswebbplats,<br />
        Kolla in projektet på
        <a href="https://github.com/Victor19941221" target="_blank" rel="noopener">
            GitHub
        </a>.
    </p>
</div>
